<h1>Editing director #<%= @director.id %></h1>

<%= form_tag director_url(@director.id), :method => :patch do  %>
  <div>
    <div>
      <label for="name">Name:</label>
    </div>
    <div>
      <input type="text" id="name" name="name" value="<%= @director.name %>">
    </div>
  </div>
  <div>
    <div>
      <label for="image_url">Image URL:</label>
    </div>
    <div>
      <input type="text" id="image_url" name="image_url" value="<%= @director.image_url %>">
    </div>
  </div>
  <div>
    <div>
      <label for="dob">Date of Birth:</label>
    </div>
    <div>
      <input type="text" id="dob" name="dob" value="<%= @director.dob %>">
    </div>
  </div>
  <div>
    <div>
      <label for="bio">Bio:</label>
    </div>
    <div>
      <textarea id="bio" name="bio" rows="5"><%= @director.bio %></textarea>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
<% end %>
