<h1>Directors</h1>

<%= link_to "Create a new director", new_director_url  %>

<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th>Bio</th>
    <th colspan="3">actions</th>
  </tr>

  <% @directors.each do |director| %>
    <tr>
      <td><img src="<%= director.image_url %>" alt="<%= director.name %>" width="100"></td>
      <td><%= director.name %></td>
      <td><%= director.dob %></td>
      <td><%= truncate(director.bio) %></td>
      <td><%= link_to "Show", director_url(director.id) %></td>
      <td><%= link_to "Edit", edit_director_url(director.id) %></td>
      <td><%= link_to "Destroy", director_url(director.id), :method => :delete %></td>
    </tr>
  <% end %>

</table>
