<h1><%= @director.name %></h1>

<div>
  <img src="<%= @director.image_url %>" alt="<%= @director.name %>">
</div>

<dl>
  <dt><strong>DOB:</strong></dt>
  <dd><%= @director.dob %></dd>
  <dt><strong>Bio:</strong></dt>
  <dd><%= @director.bio %></dd>
</dl>


<%= link_to "Edit", edit_director_url(@director.id) %> |
<%= link_to "Destroy", director_url(@director.id), :method => :delete  %>

